@model LinaExcursoes.Administrativo.Models.ExternalLoginListViewModel
@using Microsoft.Owin.Security

@{
    var loginProviders = Context.GetOwinContext().Authentication.GetExternalAuthenticationTypes();
    if (!(loginProviders.Count() == 0))
    {
        using (Html.BeginForm("ExternalLogin", "Account", new { ReturnUrl = Model.ReturnUrl }))
        {
            @Html.AntiForgeryToken()
            <h4>Or login with</h4>
            <ul class="social-icons">
                @foreach (AuthenticationDescription p in loginProviders)
                {
                    <li>
                        <button type="submit" name="provider" class="social-icon-color facebook" value="@p.AuthenticationType"  id="@p.AuthenticationType" data-original-title="facebook" href="javascript:;">@p.AuthenticationType</button>
                    </li>
                }
            </ul>
        }
    }
}