@using WebSite.Infraestrutura.Helpers;


@{
    Layout = "~/Views/Shared/Main_Layout.cshtml";
}

<!-- Header -->
@{ Html.RenderAction("Montacarousel", "Carousel");}

<!-- Portfolio Grid Section -->
<section id="portfolio">
    <div class="container">
        <div class="row">
            <div class="col-lg-12 text-center">
                <h2>Viagens</h2>
                <hr class="star-primary">
            </div>
        </div>
        <div class="row">
            <div class="col-sm-6 portfolio-item">
                <a href="#portfolioModal1" class="portfolio-link" data-toggle="modal">
                    <div class="caption">
                        <div class="caption-content">
                            <h3>Praias</h3>
                        </div>
                    </div>
                    <img src="img/portfolio/cabin.png" class="img-responsive" alt="Lina Excursões - A melhor viagem para seu momento.">
                </a>
            </div>
            <div class="col-sm-6 portfolio-item">
                <a href="#portfolioModal2" class="portfolio-link" data-toggle="modal">
                    <div class="caption">
                        <div class="caption-content">
                            <h3>Cidades</h3>
                        </div>
                    </div>
                    <img src="img/portfolio/cake.png" class="img-responsive" alt="Lina Excursões - A melhor viagem para seu momento.">
                </a>
            </div>
            <div class="col-sm-6 portfolio-item">
                <a href="#portfolioModal3" class="portfolio-link" data-toggle="modal">
                    <div class="caption">
                        <div class="caption-content">
                            <h3>Parque Aquático</h3>
                        </div>
                    </div>
                    <img src="img/portfolio/circus.png" class="img-responsive" alt="Lina Excursões - A melhor viagem para seu momento.">
                </a>
            </div>
            <div class="col-sm-6 portfolio-item">
                <a href="#portfolioModal4" class="portfolio-link" data-toggle="modal">
                    <div class="caption">
                        <div class="caption-content">
                            <h3>EcoTurismo</h3>
                        </div>
                    </div>
                    <img src="img/portfolio/game.png" class="img-responsive" alt="Lina Excursões - A melhor viagem para seu momento.">
                </a>
            </div>
        </div>
    </div>
</section>

<!-- About Section -->
<section class="success" id="about">
    <div class="container">
        <div class="row">
            <div class="col-lg-12 text-center">
                <h2>Sobre Nós</h2>
                <hr class="star-light">
            </div>
        </div>
        <div class="row">
            <div class="col-lg-4 col-lg-offset-2">
                <p>@TagExtensions.CustomTag(3)</p>
            </div>
            <div class="col-lg-4">
                <p>@TagExtensions.CustomTag(4)</p>

            </div>
            <div class="col-lg-8 col-lg-offset-2 text-center">

            </div>
        </div>
    </div>
</section>

<!-- Contact Section -->
@{Html.RenderAction("Index", "Contatos"); }

<!-- Portfolio Modals -->
<div class="portfolio-modal modal fade" id="portfolioModal1" tabindex="-1" role="dialog" aria-hidden="true">
    <div class="modal-content">
        <div class="close-modal" data-dismiss="modal">
            <div class="lr">
                <div class="rl">
                </div>
            </div>
        </div>
        <div class="container">
            <div class="row">
                <div class="col-lg-8 col-lg-offset-2">
                    <div class="modal-body">
                        <h2>Praias</h2>
                        <hr class="star-primary">
                        @{
                            Html.RenderAction("ListarViagensPorTipo", "Viagens", new { tipoDestino = "Praias" });
                        }
                        <button type="button" class="btn btn-default" data-dismiss="modal"><i class="fa fa-times"></i> Close</button>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="portfolio-modal modal fade" id="portfolioModal2" tabindex="-1" role="dialog" aria-hidden="true">
    <div class="modal-content">
        <div class="close-modal" data-dismiss="modal">
            <div class="lr">
                <div class="rl">
                </div>
            </div>
        </div>
        <div class="container">
            <div class="row">
                <div class="col-lg-8 col-lg-offset-2">
                    <div class="modal-body">
                        <h2>Cidades</h2>
                        <hr class="star-primary">

                        @{
                            Html.RenderAction("ListarViagensPorTipo", "Viagens", new { tipoDestino = "Cidades" });
                        }

                        <button type="button" class="btn btn-default" data-dismiss="modal"><i class="fa fa-times"></i> Close</button>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="portfolio-modal modal fade" id="portfolioModal3" tabindex="-1" role="dialog" aria-hidden="true">
    <div class="modal-content">
        <div class="close-modal" data-dismiss="modal">
            <div class="lr">
                <div class="rl">
                </div>
            </div>
        </div>
        <div class="container">
            <div class="row">
                <div class="col-lg-8 col-lg-offset-2">
                    <div class="modal-body">
                        <h2>Parques Aquáticos</h2>
                        <hr class="star-primary">

                        @{
                            Html.RenderAction("ListarViagensPorTipo", "Viagens", new { tipoDestino = "ParquesAquaticos" });
                        }

                        <button type="button" class="btn btn-default" data-dismiss="modal"><i class="fa fa-times"></i> Close</button>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="portfolio-modal modal fade" id="portfolioModal4" tabindex="-1" role="dialog" aria-hidden="true">
    <div class="modal-content">
        <div class="close-modal" data-dismiss="modal">
            <div class="lr">
                <div class="rl">
                </div>
            </div>
        </div>
        <div class="container">
            <div class="row">
                <div class="col-lg-8 col-lg-offset-2">
                    <div class="modal-body">
                        <h2>Eco Turismo</h2>
                        <hr class="star-primary">

                        @{
                            Html.RenderAction("ListarViagensPorTipo", "Viagens", new { tipoDestino = "Ecoturismo" });
                        }

                        <button type="button" class="btn btn-default" data-dismiss="modal"><i class="fa fa-times"></i> Close</button>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
