@using LinaExcursoes.Apresentacao.Infraestrutura.Session


<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="carloshrgabriel.com.br">
    <title>Lina Excursões</title>
    <!-- Bootstrap Core CSS -->
    <link href="~/Content/bootstrap.min.css" rel="stylesheet" />
    <!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
    <!--[if lt IE 9]>
        <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
        <script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>
    <![endif]-->
    <link href="~/Content/Site.css" rel="stylesheet" />
    <!-- jQuery -->
    <script src="~/Scripts/jquery-3.1.1.min.js"></script>
    <!-- Bootstrap Core JavaScript -->
    <script src="~/Scripts/bootstrap.min.js"></script>
    <script src="~/Scripts/modernizr-2.8.3.js"></script>
</head>
<body>

    <nav class="navbar navbar-inverse">
        <div class="container-fluid">
            <div class="navbar-header">
                <a class="navbar-brand" href="#">
                    <img alt="LinaExcursoes" src="~/img/logo_texto.png" alt="Lina Excursões - A melhor viagem para seu momento."/>
                </a>
            </div>
            @if (GerenciaSession.Usuario != null)
            {
            <div class="navbar-right">
                <p class="navbar-text">Olá @Html.Raw(GerenciaSession.Usuario.Nome)</p>
                @Html.ActionLink("Home", "Admin", "Home", null, new { @class = "btn btn-success navbar-btn" })
                @Html.ActionLink("Deslogar", "Deslogar", "Login", null, new { @class = "btn btn-success navbar-btn" })
            </div>
            }
        </div>
    </nav>
    <div class="container-fluid">

        @RenderBody()

    </div>


</body>
</html>
