@model IEnumerable<WebSite_LinaExcursao.Infraestrutura.DataBase.Contexto.Tables.Viagens>

<div class="container" style="margin-top:60px;">
    <div class="row">
        <div class="col-md-10 col-md-offset-1">
            <div style="text-align: center;">
                <h2>Cidades</h2>
                <hr class="star-primary">
            </div>
            <div class="row-stripped">
                @Html.Partial("_ListaDestinos", Model)
            </div>
        </div>
    </div>
</div>
