.navbar-brand > img {
    height: 50px;
}

.navbar-custom {
    padding: 5px 0;
    background: #2C9D9F;
}

.label-success {
    background-color: #2c9d9f;
}

.modal-backdrop {
    display: none;
}

section.success {
    background: #2c9d9f;
}

.navbar-custom .navbar-nav li.active {
    background: #FBAF3F;
}

.navbar-custom .navbar-nav li a:hover {
    background: #FBAF3F;
}

.navbar-custom .navbar-nav li.active a:hover {
    background: #FBAF3F;
}

div.row-stripped > div:nth-of-type(odd) {
    background-color: beige;
}

.no-padding {
    padding: 0;
}

.nav-padding {
    padding: 15px 15px 0 15px !important;
}
